asgiref==3.4.1
cairocffi==1.2.0
CairoSVG==2.5.2
cffi==1.14.5
comtypes==1.1.10
cssselect2==0.4.1
cycler==0.10.0
defusedxml==0.7.1
Django==3.2.7
django-3-jet==1.0.8
django-ckeditor==6.0.0
django-cpf==0.1.0
django-crispy-forms==1.11.2
django-js-asset==1.2.2
django-object-actions==3.0.2
django-recaptcha==2.0.6
djangorestframework==3.12.4
html5lib==1.1
JPype1==1.2.1
kiwisolver==1.0.1
matplotlib==3.0.3
numpy==1.16.2
Pillow==8.2.0
psycopg2==2.9.1
pycparser==2.20
pyparsing==2.3.1
Pyphen==0.10.0
pypiwin32==223
pyreportjasper==2.1.2
python-dateutil==2.8.0
python-stdnum==1.16
pyttsx3==2.90
pytz==2021.1
pywin32==301
six==1.16.0
sqlparse==0.4.2
tinycss2==1.1.0
typing-extensions==3.10.0.0
webencodings==0.5.1
